*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: light!important;
    scroll-behavior: smooth;
}

:root{
    color-scheme: light!important;
}

.loader {
    border-top-color: transparent;
    border-radius: 50%;
}

.hidden {
    display: none;
}

body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #353535;
    background-color: #f4f4f4;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1em;
}

header ul {
    background: #dad3d375;
    backdrop-filter: blur(5px);
    gap: 10px;
}

header ul >li>a:hover{
    background: #ffffff7c!important;
}

main {
    flex: 1;
    padding: 5em 1em;
}

button {
    cursor: pointer;
    border: none;
}

#color-picker{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#task-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    /* margin-bottom: 1em; */
    width: 40%;
    margin: 20px auto;
}

#task-name {
    width: 100%;
    /* max-width: 350px; */
    padding: 0.5em;
    font-size: 1em;
    border-radius: 20px;
    border: none;
    overflow-wrap: break-word;
    resize: none;
    line-height: 1.5;
    height: 110px;
}

#task-name:focus {
    outline: none;
}

#add-task {
    padding: 0.5em;
    font-size: 15px;
    font-weight: 700;
    background: linear-gradient(to right, rgb(70, 43, 226), rgb(0, 19, 128));
    color: white;
    border: none;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

#add-task:hover {
    box-shadow: 0 0 10px rgb(70, 43, 226);
}

.content-text {
    text-align: center;
    margin-bottom: 20px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 1em 2em;
    background: #fff;
    border-radius: 20px;
    gap: 30px;
    justify-content: space-between;
}

#tasks-title-container{}

#progress-container{
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
    margin-top: 10px;
    transition: width 0.5s ease-in-out;
}

#progress-bar{
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    border-radius: 25px;
}

#task-list {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

#tasks {
    list-style-type: none;
    padding: 0;
}

#tasks li {
    padding: 1em;
    min-height: 100px;
    background-color: white;
    margin-bottom: 0.5em;
    border-radius: 20px;
}

#tasks li.completed {
    text-decoration: line-through;
    color: #999;
}

.container-main-task {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

.task-container-grid {
    width: 100%;
    margin: 0 auto;
}

.task-container {
    overflow-wrap: break-word;
    max-width: 350px;
}

.container-buttons-task {
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    background-color: #e7e7e7;
}

.container-buttons-task>button {
    border-radius: 10px;
    background-color: #cbcbcf;
    padding: 2px 8px;
    margin: 0 2px;
    font-size: 14px;
}

.container-buttons-task>button:hover {
    background-color: #b8b8b8;
}

#color-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.color-option.selected {
    border: 2px solid black;
}

/* Estilos responsive para dispositivos móviles */
@media (max-width: 1200px){

    header ul {
        gap: 5px;
        justify-content: center;
    }

    header ul > li{
        font-size: 0.8em;
    }

    .menu :where(li:not(.menu-title) > :not(ul, details, .menu-title, .btn)) {
        padding-left: .5rem!important;
        padding-right: .5rem!important;
    }

    header ul>li:last-of-type {
        width: 100%;
    }

    .container-main-task{
        grid-template-columns: repeat(3, 1fr);
    }

    #sct-auth{
        flex-direction: column;
    }

}

@media (max-width: 992px) {
    .container-main-task {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container-main-task {
        grid-template-columns: 1fr;
    }

    #task-input,
    #color-picker{
        width: auto;
    }

    .container-buttons-task>button {
        margin: 5px;
    }

    .task-container-grid{
        width: auto;
    }
}

@media (max-width: 480px) {

    .container-main-task {
        grid-template-columns: 1fr;
    }

    #task-name {
        width: 100%;
    }

    #add-task {
        width: 100%;
        text-align: center;
    }

    #task-input,
    #color-picker {
        flex-direction: column;
        gap: 20px;
    }

    .container-buttons-task {
        text-align: center;
    }
}